@model VMComicDetail
@{
    ViewData["Title"] = "Comic of the Day!";
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <h1>@Model?.Title</h1>
            <img alt="@Model?.Alt" src="@Model?.Img"/>
            <h4>@Model?.Alt</h4>
        </div>
    </div>
</div>
